:root{
    --card-width:30%;
    --card-margin:1.5%;
}
.box {
    background-color:blue;
}
.game {
    background-color:red;
}
.text {
    color: green;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: lightblue;
  
}
.card-item {
    flex-basis: 300px;
    height: 200px;
    flex-grow: 1;
    margin: 10px;
    /* flex-grow: 1; */
    background-color: green;
    
}
.card-item.hidden{
   height: 1px;
   visibility: hidden;
}
@media  (max-width:1000px){
    .text {
        color:red
    }
    :root {
        --card-width:45%;
        --card-margin:2.5%
    }
}
@media (max-width:500px){
    .text {
        color:blue
    }
    :root {
        --card-width:90%;
        --card-margin:5%;
    }
}